In [1]:
import pandas as pd
df1=pd.read_csv('/Users/cra/Desktop/completevirat.csv',index_col=False)
df2=pd.read_csv('VIRAT FOR CR.csv',index_col=False)
df3=pd.read_excel('test virat.xlsx')

# PREPROCESSING

In [2]:
data=df1.iloc[:,1:]
data['format']='odi'
data.head()
data=data.drop(['Ground'],axis=1)
data.head()
data.rename(columns = {'runs':'Runs'}, inplace = True)
data.rename(columns = {'Opp':'Opposition'}, inplace = True)
data['Runs'] = pd.to_numeric(data['Runs'], errors='coerce')
data.dropna(inplace=True)
# data.reset_index(drop=True, inplace=True)
data

      Runs   Opposition Inns format
0     12.0    Sri Lanka    1    odi
1     37.0    Sri Lanka    2    odi
2     25.0    Sri Lanka    1    odi
3     54.0    Sri Lanka    1    odi
4     31.0    Sri Lanka    2    odi
..     ...          ...  ...    ...
266    4.0    Sri Lanka    2    odi
267  166.0    Sri Lanka    1    odi
268    8.0  New Zealand    1    odi
269   11.0  New Zealand    2    odi
270   36.0  New Zealand    1    odi

[262 rows x 4 columns]

In [3]:
df2
columns_to_select = ['Runs', 'Opposition', 'Ground','Inns']
datato=df2[columns_to_select]
datato['format']='t20'
datato=datato.drop(['Ground'],axis=1)
datato["Opposition"]=datato["Opposition"].str.replace("v","")
datato["Runs"]=datato["Runs"].str.replace("*","")

datato['Runs'] = pd.to_numeric(datato['Runs'], errors='coerce')
datato.dropna(inplace=True)
datato

/var/folders/5d/55480rsn6f9b9207_fgt7cgw0000gn/T/ipykernel_95020/1942314226.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datato['format']='t20'
/var/folders/5d/55480rsn6f9b9207_fgt7cgw0000gn/T/ipykernel_95020/1942314226.py:7: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  datato["Runs"]=datato["Runs"].str.replace("*","")

     Runs     Opposition Inns format
0    26.0       Zimbabwe    2    t20
2    28.0   South Africa    1    t20
3    14.0    West Indies    1    t20
4     4.0        England    1    t20
5    15.0        England    1    t20
..    ...            ...  ...    ...
110  62.0    Netherlands    1    t20
111  12.0   South Africa    1    t20
112  64.0     Bangladesh    1    t20
113  26.0       Zimbabwe    1    t20
114  50.0        England    1    t20

[107 rows x 4 columns]

In [4]:
frames = [data, datato]
  
result = pd.concat(frames)
result

     Runs     Opposition Inns format
0    12.0      Sri Lanka    1    odi
1    37.0      Sri Lanka    2    odi
2    25.0      Sri Lanka    1    odi
3    54.0      Sri Lanka    1    odi
4    31.0      Sri Lanka    2    odi
..    ...            ...  ...    ...
110  62.0    Netherlands    1    t20
111  12.0   South Africa    1    t20
112  64.0     Bangladesh    1    t20
113  26.0       Zimbabwe    1    t20
114  50.0        England    1    t20

[369 rows x 4 columns]

# CONCATENATING TWO DATAFRAMES

In [5]:
result.reset_index(inplace=True,drop=True)
result

     Runs     Opposition Inns format
0    12.0      Sri Lanka    1    odi
1    37.0      Sri Lanka    2    odi
2    25.0      Sri Lanka    1    odi
3    54.0      Sri Lanka    1    odi
4    31.0      Sri Lanka    2    odi
..    ...            ...  ...    ...
364  62.0    Netherlands    1    t20
365  12.0   South Africa    1    t20
366  64.0     Bangladesh    1    t20
367  26.0       Zimbabwe    1    t20
368  50.0        England    1    t20

[369 rows x 4 columns]

In [6]:
result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 369 entries, 0 to 368
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Runs        369 non-null    float64
 1   Opposition  369 non-null    object
 2   Inns        369 non-null    object
 3   format      369 non-null    object
dtypes: float64(1), object(3)
memory usage: 11.7+ KB

In [7]:
result.tail()

     Runs     Opposition Inns format
364  62.0    Netherlands    1    t20
365  12.0   South Africa    1    t20
366  64.0     Bangladesh    1    t20
367  26.0       Zimbabwe    1    t20
368  50.0        England    1    t20

In [8]:
df3

,Inns,Score,Overs,Conc,Wkts,Ct,St,Column1,Opposition,Ground,Start Date,2
0,1,4,-,-,-,-,-,NaN,v West Indies,Kingston,2011-06-20,Test # 1997
1,2,-,DNB,-,-,0,0,NaN,v West Indies,Kingston,2011-06-20,Test # 1997
2,3,15,-,-,-,-,-,NaN,v West Indies,Kingston,2011-06-20,Test # 1997
3,4,-,DNB,-,-,2,0,NaN,v West Indies,Kingston,2011-06-20,Test # 1997
4,1,0,-,-,-,-,-,NaN,v West Indies,Bridgetown,2011-06-28,Test # 1998
...,...,...,...,...,...,...,...,...,...,...,...,...
385,3,-,DNB,-,-,1,0,NaN,v Australia,Nagpur,2023-02-09,Test # 2490
386,1,-,DNB,-,-,1,0,NaN,v Australia,Delhi,2023-02-17,Test # 2493
387,2,44,-,-,-,-,-,NaN,v Australia,Delhi,2023-02-17,Test # 2493
388,3,-,DNB,-,-,1,0,NaN,v Australia,Delhi,2023-02-17,Test # 2493
389,4,20,-,-,-,-,-,NaN,v Australia,Delhi,2023-02-17,Test # 2493

In [9]:
columns_to_select = ['Score', 'Opposition','Inns']
test=df3[columns_to_select]
test['format']='test'
test
def fun(num):
  
    if num==3:
        return '1'
    elif num==4:
        return '2'
    elif num==1:
        return '1'
    else:
        return '2'
test['Inns']=test['Inns'].apply(fun)
test

/var/folders/5d/55480rsn6f9b9207_fgt7cgw0000gn/T/ipykernel_95020/2065748489.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['format']='test'
/var/folders/5d/55480rsn6f9b9207_fgt7cgw0000gn/T/ipykernel_95020/2065748489.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['Inns']=test['Inns'].apply(fun)

    Score     Opposition Inns format
0       4  v West Indies    1   test
1       -  v West Indies    2   test
2      15  v West Indies    1   test
3       -  v West Indies    2   test
4       0  v West Indies    1   test
..    ...            ...  ...    ...
385     -    v Australia    1   test
386     -    v Australia    1   test
387    44    v Australia    2   test
388     -    v Australia    1   test
389    20    v Australia    2   test

[390 rows x 4 columns]

In [10]:
test = test[test["Score"].str.contains("-") == False]
test["Opposition"]=test["Opposition"].str.replace("v","")
test["Score"]=test["Score"].str.replace("*","")
test.rename(columns = {'Score':'Runs'}, inplace = True)
test['Runs'] = pd.to_numeric(test['Runs'], errors='coerce')
test.dropna(inplace=True)
test

/var/folders/5d/55480rsn6f9b9207_fgt7cgw0000gn/T/ipykernel_95020/1243160125.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test["Opposition"]=test["Opposition"].str.replace("v","")
/var/folders/5d/55480rsn6f9b9207_fgt7cgw0000gn/T/ipykernel_95020/1243160125.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  test["Score"]=test["Score"].str.replace("*","")
/var/folders/5d/55480rsn6f9b9207_fgt7cgw0000gn/T/ipykernel_95020/1243160125.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test["Score"]=test["Score"].str.replace("*","")
/var/folders/5d/55480rsn6f9b9207_fgt7cgw0000gn/T/ipykernel_95020/1243160125.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test.rename(columns = {'Score':'Runs'}, inplace = True)
/var/folders/5d/55480rsn6f9b9207_fgt7cgw0000gn/T/ipykernel_95020/1243160125.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['Runs'] = pd.to_numeric(test['Runs'], errors='coerce')
/var/folders/5d/55480rsn6f9b9207_fgt7cgw0000gn/T/ipykernel_95020/1243160125.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test.dropna(inplace=True)

     Runs    Opposition Inns format
0     4.0   West Indies    1   test
2    15.0   West Indies    1   test
4     0.0   West Indies    1   test
6    27.0   West Indies    1   test
9    30.0   West Indies    2   test
..    ...           ...  ...    ...
380  24.0    Bangladesh    2   test
382   1.0    Bangladesh    2   test
384  12.0     Australia    2   test
387  44.0     Australia    2   test
389  20.0     Australia    2   test

[180 rows x 4 columns]

In [11]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 180 entries, 0 to 389
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Runs        180 non-null    float64
 1   Opposition  180 non-null    object
 2   Inns        180 non-null    object
 3   format      180 non-null    object
dtypes: float64(1), object(3)
memory usage: 7.0+ KB

In [12]:
frames = [result,test]
  
res = pd.concat(frames)
res.reset_index(inplace=True,drop=True)
res

     Runs   Opposition Inns format
0    12.0    Sri Lanka    1    odi
1    37.0    Sri Lanka    2    odi
2    25.0    Sri Lanka    1    odi
3    54.0    Sri Lanka    1    odi
4    31.0    Sri Lanka    2    odi
..    ...          ...  ...    ...
544  24.0   Bangladesh    2   test
545   1.0   Bangladesh    2   test
546  12.0    Australia    2   test
547  44.0    Australia    2   test
548  20.0    Australia    2   test

[549 rows x 4 columns]

In [13]:
res['Opposition']=res['Opposition'].str.replace(' ','')
def fun(num):
  
    if num<30:
        return 0
  
    elif num>= 30 and num<50:
        return 1
  
    else:
        return 2
res['Runs']=res['Runs'].apply(fun)
res

     Runs  Opposition Inns format
0       0    SriLanka    1    odi
1       1    SriLanka    2    odi
2       0    SriLanka    1    odi
3       2    SriLanka    1    odi
4       1    SriLanka    2    odi
..    ...         ...  ...    ...
544     0  Bangladesh    2   test
545     0  Bangladesh    2   test
546     0   Australia    2   test
547     1   Australia    2   test
548     0   Australia    2   test

[549 rows x 4 columns]

## One hot encoding done to handle categorical datatypes

In [14]:
x=res.iloc[:,1:]
y=res.iloc[:,:1]


state = pd.get_dummies(res['Opposition'])
x = x.join(state)
x = x.drop(['Opposition'],axis=1)

state2 = pd.get_dummies(res['format'])
x = x.join(state2)
x = x.drop(['format'],axis=1)

state3 = pd.get_dummies(res['Inns'])
x = x.join(state3)
x = x.drop(['Inns'],axis=1)
x

,Afghanistan,Australia,Bangladesh,England,HongKong,Ireland,Netherlands,NewZealand,Pakistan,Scotland,SouthAfrica,SriLanka,U.A.E.,WestIndies,Zimbabwe,odi,t20,test,1,2
0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0
1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0
3,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0
4,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
544,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1
545,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1
546,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1
547,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1
548,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1

## Checking for multicolinearity between independent columns

In [15]:
vif = pd.DataFrame()
from statsmodels.stats.outliers_influence import \
variance_inflation_factor

vif['variable']=x.columns

vif['vif']= [variance_inflation_factor(x.values,i)
             for i in range(x.shape[1])]

vif

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:195: RuntimeWarning: divide by zero encountered in double_scalars
  vif = 1. / (1. - r_squared_i)

       variable           vif
0   Afghanistan           inf
1     Australia           inf
2    Bangladesh           inf
3       England           inf
4      HongKong           inf
5       Ireland           inf
6   Netherlands           inf
7    NewZealand           inf
8      Pakistan  2.040219e+07
9      Scotland           inf
10  SouthAfrica           inf
11     SriLanka           inf
12       U.A.E.           inf
13   WestIndies  8.852497e+06
14     Zimbabwe           inf
15          odi           inf
16          t20           inf
17         test           inf
18            1           inf
19            2           inf

In [16]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25,
                                                random_state=80)

In [17]:
from sklearn.tree import DecisionTreeClassifier
tree = DecisionTreeClassifier(criterion='gini')
tree.fit(x_train,y_train)

DecisionTreeClassifier()

In [18]:
y_pred = tree.predict(x_test)

In [19]:
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
confusion_matrix(y_test,y_pred)

array([[47,  1, 18],
       [ 9,  3,  3],
       [40,  6, 11]])

In [20]:
accuracy_score(y_test,y_pred)

0.4420289855072464

In [22]:
y_test

     Runs
103     1
41      0
81      2
119     2
419     0
..    ...
193     2
402     2
304     0
503     0
25      0

[138 rows x 1 columns]

In [23]:
x_test

,Afghanistan,Australia,Bangladesh,England,HongKong,Ireland,Netherlands,NewZealand,Pakistan,Scotland,SouthAfrica,SriLanka,U.A.E.,WestIndies,Zimbabwe,odi,t20,test,1,2
103,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0
41,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1
81,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1
119,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1
419,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0
402,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,1,0
304,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0
503,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,1,0
25,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1

## Using random forest and grid search to obtain the best model

In [24]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(n_estimators=100,
                            criterion='gini')

In [25]:
rfc.fit(x_train,y_train)
from sklearn.metrics import accuracy_score
y_pred = rfc.predict(x_test)
print(accuracy_score(y_test,y_pred))

0.42028985507246375

/var/folders/5d/55480rsn6f9b9207_fgt7cgw0000gn/T/ipykernel_71900/1387908291.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rfc.fit(x_train,y_train)

In [26]:
from sklearn.model_selection import GridSearchCV
param = {'n_estimators':[25,50,75,100,150,200],
        'criterion':['gini','entropy'],
        'bootstrap':[True, False]}
cls_grid = RandomForestClassifier()
gr = GridSearchCV(cls_grid, param, cv=10, n_jobs=-1)

gr.fit(x_train, y_train)
print(gr.best_params_)
gr.best_score_

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

{'bootstrap': True, 'criterion': 'gini', 'n_estimators': 25}

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/model_selection/_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/model_selection/_search.py:909: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

0.44012775842044133

# Neural Network with multiple layers to obtain the best result

In [36]:
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf
from tensorflow.keras.datasets import mnist
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
model = Sequential()
model.add(Dense(units=1024,activation='relu',input_shape=(20,)))
model.add(Dense(units=512,activation='relu'))
model.add(Dense(units=256,activation='relu'))
model.add(Dense(units=128,activation='relu'))
model.add(Dense(units=64,activation='relu'))
model.add(Dense(units=3, activation='softmax'))

model.compile(optimizer='sgd', loss='sparse_categorical_crossentropy', metrics=['accuracy'])


model.fit(x,y , epochs=100, batch_size=8)


loss, accuracy = model.evaluate(x_test, y_test)
print("Testing accuracy:", accuracy)

Epoch 1/100
69/69 [==============================] - 0s 2ms/step - loss: 1.0646 - accuracy: 0.4572
Epoch 2/100
69/69 [==============================] - 0s 2ms/step - loss: 1.0238 - accuracy: 0.4827
Epoch 3/100
69/69 [==============================] - 0s 2ms/step - loss: 1.0078 - accuracy: 0.4827
Epoch 4/100
69/69 [==============================] - 0s 2ms/step - loss: 1.0011 - accuracy: 0.4827
Epoch 5/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9975 - accuracy: 0.4827
Epoch 6/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9949 - accuracy: 0.4827
Epoch 7/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9919 - accuracy: 0.4827
Epoch 8/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9905 - accuracy: 0.4827
Epoch 9/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9876 - accuracy: 0.4827
Epoch 10/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9865 - accuracy: 0.4863
Epoch 11/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9841 - accuracy: 0.4954
Epoch 12/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9829 - accuracy: 0.4954
Epoch 13/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9819 - accuracy: 0.4900
Epoch 14/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9803 - accuracy: 0.4991
Epoch 15/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9785 - accuracy: 0.5064
Epoch 16/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9776 - accuracy: 0.4882
Epoch 17/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9762 - accuracy: 0.4973
Epoch 18/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9756 - accuracy: 0.5137
Epoch 19/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9747 - accuracy: 0.5027
Epoch 20/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9725 - accuracy: 0.5264
Epoch 21/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9713 - accuracy: 0.5155
Epoch 22/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9708 - accuracy: 0.5137
Epoch 23/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9695 - accuracy: 0.5209
Epoch 24/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9698 - accuracy: 0.4900
Epoch 25/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9678 - accuracy: 0.5191
Epoch 26/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9677 - accuracy: 0.5064
Epoch 27/100
69/69 [==============================] - 0s 5ms/step - loss: 0.9662 - accuracy: 0.5082
Epoch 28/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9649 - accuracy: 0.5209
Epoch 29/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9636 - accuracy: 0.5246
Epoch 30/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9638 - accuracy: 0.4973
Epoch 31/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9627 - accuracy: 0.5137
Epoch 32/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9615 - accuracy: 0.5209
Epoch 33/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9598 - accuracy: 0.5246
Epoch 34/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9585 - accuracy: 0.5209
Epoch 35/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9589 - accuracy: 0.5100
Epoch 36/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9580 - accuracy: 0.5191
Epoch 37/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9561 - accuracy: 0.5137
Epoch 38/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9572 - accuracy: 0.5228
Epoch 39/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9550 - accuracy: 0.5301
Epoch 40/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9533 - accuracy: 0.5446
Epoch 41/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9501 - accuracy: 0.5137
Epoch 42/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9520 - accuracy: 0.5228
Epoch 43/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9522 - accuracy: 0.5009
Epoch 44/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9481 - accuracy: 0.5301
Epoch 45/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9479 - accuracy: 0.5118
Epoch 46/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9480 - accuracy: 0.5246
Epoch 47/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9459 - accuracy: 0.5137
Epoch 48/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9450 - accuracy: 0.5319
Epoch 49/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9442 - accuracy: 0.5246
Epoch 50/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9437 - accuracy: 0.5337
Epoch 51/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9414 - accuracy: 0.5191
Epoch 52/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9417 - accuracy: 0.5264
Epoch 53/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9406 - accuracy: 0.5191
Epoch 54/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9419 - accuracy: 0.5155
Epoch 55/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9372 - accuracy: 0.5337
Epoch 56/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9392 - accuracy: 0.5228
Epoch 57/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9361 - accuracy: 0.5355
Epoch 58/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9373 - accuracy: 0.5191
Epoch 59/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9357 - accuracy: 0.5246
Epoch 60/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9361 - accuracy: 0.5392
Epoch 61/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9346 - accuracy: 0.5301
Epoch 62/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9326 - accuracy: 0.5173
Epoch 63/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9332 - accuracy: 0.5373
Epoch 64/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9305 - accuracy: 0.5373
Epoch 65/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9283 - accuracy: 0.5446
Epoch 66/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9333 - accuracy: 0.5100
Epoch 67/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9303 - accuracy: 0.5173
Epoch 68/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9296 - accuracy: 0.5301
Epoch 69/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9285 - accuracy: 0.5319
Epoch 70/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9280 - accuracy: 0.5337
Epoch 71/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9297 - accuracy: 0.5319
Epoch 72/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9277 - accuracy: 0.5301
Epoch 73/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9285 - accuracy: 0.5319
Epoch 74/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9259 - accuracy: 0.5410
Epoch 75/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9287 - accuracy: 0.5282
Epoch 76/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9291 - accuracy: 0.5319
Epoch 77/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9243 - accuracy: 0.5410
Epoch 78/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9243 - accuracy: 0.5355
Epoch 79/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9223 - accuracy: 0.5301
Epoch 80/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9237 - accuracy: 0.5228
Epoch 81/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9257 - accuracy: 0.5392
Epoch 82/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9243 - accuracy: 0.5264
Epoch 83/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9209 - accuracy: 0.5282
Epoch 84/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9222 - accuracy: 0.5501
Epoch 85/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9216 - accuracy: 0.5355
Epoch 86/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9234 - accuracy: 0.5410
Epoch 87/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9222 - accuracy: 0.5282
Epoch 88/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9196 - accuracy: 0.5264
Epoch 89/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9193 - accuracy: 0.5209
Epoch 90/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9194 - accuracy: 0.5410
Epoch 91/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9166 - accuracy: 0.5446
Epoch 92/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9139 - accuracy: 0.5301
Epoch 93/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9212 - accuracy: 0.5301
Epoch 94/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9217 - accuracy: 0.5246
Epoch 95/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9161 - accuracy: 0.5355
Epoch 96/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9127 - accuracy: 0.5592
Epoch 97/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9150 - accuracy: 0.5483
Epoch 98/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9213 - accuracy: 0.5464
Epoch 99/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9117 - accuracy: 0.5355
Epoch 100/100
69/69 [==============================] - 0s 2ms/step - loss: 0.9144 - accuracy: 0.5446
5/5 [==============================] - 0s 1ms/step - loss: 0.8444 - accuracy: 0.6232
Testing accuracy: 0.6231883764266968

### Predicting the score for a T20 game against Pakistan where India chose to bat first

In [39]:
arr=[0]*20
l=list(x.columns)
opp='Pakistan'
form='t20'
inn='1'
arr[l.index(opp)]=1
arr[l.index(form)]=1
arr[l.index(inn)]=1

if model.predict([arr])[0].argmax(axis=0)==0:
    print('predcted score <30')
elif model.predict([arr])[0].argmax(axis=0)==1:
    print('predcted score 30-50')
else:
    print('predicted score >50')

1/1 [==============================] - 0s 39ms/step
1/1 [==============================] - 0s 23ms/step
predicted score >50

In [28]:
import pickle

with open('model.pkl', 'wb') as f:
    pickle.dump(gr, f)

In [29]:
print(x.columns)

Index(['Afghanistan', 'Australia', 'Bangladesh', 'England', 'HongKong',
       'Ireland', 'Netherlands', 'NewZealand', 'Pakistan', 'Scotland',
       'SouthAfrica', 'SriLanka', 'U.A.E.', 'WestIndies', 'Zimbabwe', 'odi',
       't20', 'test', '1', '2'],
      dtype='object')